<h1>Seja bem vindo</h1>
<p>
Marcos Lisboa
</p>
<p>A soma é: <%= 1+1 %></p>
<p><b>A data de hoje é: </b> <%= convert_to_brazilian_date(Date.today)%></p>

<%= link_to "Cadastro de Moedas", coins_path %>
